body {
  padding-top: 70px;
  padding-bottom: 30px;
    background-color: #f8f8f8;
}

.main-content .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.main-content > p > .btn {
  margin: 5px 0;
}

.main-content .navbar .container {
  width: auto;
}

.panel {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
