{% extends "bootstrap/base.html" %}
{% set active_page = "browse" %}

{% set item = doc['_source'] %}

{% block title %}{{item.title}}{% endblock %}

{% block content %}

<div class="pull-right">
    <form action="/search" method="get">
    <input type="submit" class="pull-right" value="Search">
    <input type="text" name="query" class="pull-right">
    <form>
</div>

<div class="clearfix"></div>

<div class="col-md-3">
    <div>
        <h1>Repository</h1>
    </div>
    {% from 'navtree-macro.html' import render_navtree %}
    {{ render_navtree(navtree) }}
</div>

<div class="col-md-9">
    <div>
      <h1>{{item.title}} <small>({{ doc._type }})</small></h1>

      <p>
        <strong>Parent:</strong>
        <a href="{{ url_for('browse', obj_path=item._parent_path.lstrip('/')) }}">{{ item._parent_path }}</a>
      </p>

      <p>
          <strong>Children:</strong>
          {% for child_doc in children %}
          {% set child = child_doc['_source'] %}
          <ul class="list-compact">
              <li><a href="{{ url_for('browse', obj_path=child._path.lstrip('/')) }}">{{ child.title }}</a></li>
          </ul>
          {% endfor %}
      </p>

      <table class="table table-bordered table-hover">
          {% for key in item.keys()|sort %}
          <tr>
                <th>{{ key }}</th>
                <td>{{ item[key] }}</td>
          </tr>
          {% endfor %}
      </table>

      <table class="table table-bordered small text-muted">
          {% for key, value in doc.iteritems() %}
          <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
          </tr>
          {% endfor %}
      </table>

    </div>
</div>

{% endblock %}
