{% macro render_navtree(nodes, toplevel=True) -%}

{% if toplevel %}
<div id="navtree-container" class="hidden">
<ul id="navtree">
{% else %}
<ul>
{%- endif %}

  {% for node in nodes %}
    <li>
        <a href="{{ url_for('browse', obj_path=node._path.lstrip('/')) }}">{{node._full_title}}</a>
        {% if node.nodes %}
          {{ render_navtree(node.nodes, toplevel=False) }}
        {%- endif %}
    </li>
  {% endfor %}

{% if toplevel %}
</ul>
</div>
{% else %}
</ul>
{%- endif %}

{%- endmacro %}